<section class="container">
  <div class="container-content" id="opening-hours">
    <div>
      <img src="../../../assets/relogio.png" alt="Icone de relógio" />
      <h2>
        HORÁRIO DE <br />
        ATENDIMENTO
      </h2>
    </div>

    <table>
      <tr>
        <th>DIAS</th>
        <th>INÍCIO</th>
        <th>FIM</th>
      </tr>

      <tr>
        <td>SEGUNDA</td>
        <td>07:30</td>
        <td>19:00</td>
      </tr>

      <tr>
        <td>TERÇA</td>
        <td>07:30</td>
        <td>19:00</td>
      </tr>

      <tr>
        <td>QUARTA</td>
        <td>07:30</td>
        <td>19:00</td>
      </tr>

      <tr>
        <td>QUINTA</td>
        <td>07:30</td>
        <td>19:00</td>
      </tr>

      <tr>
        <td>SEXTA</td>
        <td>07:30</td>
        <td>15:00</td>
      </tr>
    </table>
  </div>
</section>
