.container {
  width: 40vw;
  height: 680px;

  background-color: #439494;
  color: #fff;
  padding-bottom: 100px;
}

.container-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff93;
  border-radius: 20px;
}

h2 {
  text-align: center;
  padding: 30px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 25px;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #4ee2b1;
}

@media (max-width: 1500px) {
  .container {
    width: 60vw;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 70vw;
  }
}

@media (max-width: 800px) {
  .container {
    width: 96vw;
  }
}
