.container {
  width: 40vw;
  height: 680px;

  background-color: #439494;
  color: #fff;
  padding-bottom: 50px;
}

.container-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #fff;
  border-radius: 20px;
}

h2 {
  text-align: center;
  padding: 30px;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  color: #026150;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 25px;
  font-size: 20px;
  border-bottom: solid 1px #ffffff88;
}

th {
  font-weight: bold;
}

@media (max-width: 1500px) {
  .container {
    width: 40vw;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 70vw;
    height: auto;
  }
}

@media (max-width: 800px) {
  .container {
    width: 96vw;
  }
}

@media (max-width: 370px) {
  th,
  td {
    padding: 18px;
  }
}
@media (max-width: 310px) {
  th,
  td {
    padding: 10px;
  }
}
