.container {
  background-color: #439494;
  display: flex;
  justify-content: center;
  color: #0e6150;
}

.container-content {
  background-color: #ffffff93;

  padding: 40px 160px 40px 160px;
  border-radius: 20px;
}
.container-content div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  color: #857c7c;
  padding: 15px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  padding: 10px;
  text-align: center;
  width: 120px;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #dcebe6;
}

tr:hover:nth-child(1n + 2) {
  background-color: #085f63;
  color: #fff;
}

@media (max-width: 800px) {
  .container-content {
    width: 96%;
    height: 96%;
    padding: 0px 0px 30px 0px;
  }
  h2 {
    padding: 15px;
  }
}
