<section class="about-container">
  <div>
    <h2 class="about-title title1">Quem somos?</h2>
    <div class="about-summary">
      <main>
        Spaço7 é um estabelecimento que oferece uma variedade de serviços de
        bem-estar e cuidados pessoais. Entre os principais serviços oferecidos
        estão massagem, depilação, naturopatia e terapia capilar integrativa.
      </main>
      <p>
        As massagens no Spaço7 são projetadas para aliviar o estresse, relaxar
        os músculos e promover o equilíbrio emocional. A depilação é um serviço
        disponível para remoção de pelos indesejados. A naturopatia é um campo
        da medicina alternativa que se concentra no uso de tratamentos naturais
        e abordagens holísticas para promover a saúde e o bem-estar. A terapia
        capilar integrativa é um serviço especializado que visa melhorar a saúde
        e a aparência do couro cabeludo e cabelo.
      </p>
      <p>
        No Spaço7, os clientes podem desfrutar de um ambiente acolhedor e
        relaxante, onde profissionais dedicados estão prontos para fornecer
        serviços de qualidade e atendimento personalizado. O estabelecimento
        busca promover o bem-estar e a satisfação dos clientes, ajudando-os a
        alcançar um equilíbrio físico e mental.
      </p>
    </div>

    <h2 class="about-title">Conheça nossos profissionais</h2>
    <div class="about-summary">
      <p>
        O Spaço7 orgulha-se de contar com uma equipe de especialistas altamente
        qualificados e dedicados, prontos para oferecer atendimento excepcional.
        Conheça agora os profissionais que fazem do nosso estabelecimento um
        lugar de excelência em serviços de bem-estar e cuidados pessoais.
      </p>
    </div>

    <div class="professional-container">
      <div class="professional-presentation">
        <img
          class="professionals"
          src="../../../assets/Morgana.jpg"
          alt="Morgana"
        />
        <div>
          <h3>MORGANA</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            dolores a, sit deleniti corporis ullam iure mollitia aspernatur.
          </p>
        </div>
      </div>

      <div class="professional-presentation">
        <img
          class="professionals"
          src="../../../assets/Fran-Oliveira.jpg"
          alt="Fran Oliveira"
        />
        <div>
          <h3>FRAN OLIVEIRA</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            dolores a, sit deleniti corporis ullam iure mollitia aspernatur.
          </p>
        </div>
      </div>

      <div class="professional-presentation">
        <img
          class="professionals"
          src="../../../assets/Evelyn-Recepção.jpg"
          alt="Evelyn"
        />
        <div>
          <h3>EVELYN</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            dolores a, sit deleniti corporis ullam iure mollitia aspernatur.
          </p>
        </div>
      </div>
    </div>
    <div class="img-logo">
      <img src="../../../assets/spaço7Logo.png" alt="Logo do Spaço 7" />
    </div>
  </div>
</section>
