.about-container {
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: #439494;
}
.about-container div {
  width: 90%;
  height: 90%;

  margin: auto;
  background-color: #026150;
  border-radius: 20px;
  color: #fff;
}

.about-title {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 50px;
}
.title1 {
  padding-top: 30px;
}
.about-summary {
  /* text-align: justify; */
  text-indent: 20px;
  font-size: 20px;
  margin: 0px 100px 0px 100px;
}

.professional-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.professional-presentation {
  flex-basis: calc(33.33% - 20px);
  height: 400px;
  text-align: center;
}
.professional-presentation p {
  font-size: 18px;
  text-align: justify;
  height: 300px;
}

.professionals {
  width: 300px;
  height: 400px;
  margin: 50px 15px 0px 15px;
  border-radius: 10px;
}

.img-logo {
  display: flex;
  justify-content: center;
}
.img-logo img {
  width: 150px;
  margin: 30px;
}

@media (max-width: 500px) {
  .about-summary {
    margin: 0px 20px 0px 20px;
    text-align: justify;
  }
  .professionals {
    width: 200px;
    height: 266px;
  }
  .professional-presentation {
    flex-basis: auto;
  }
  .professional-presentation p {
    font-size: 16px;
    height: auto;
  }
}
