<footer>
  <div class="social-media">
    <div>
      <a
        href="https://instagram.com/spaco7se?igshid=MzRlODBiNWFlZA=="
        target="_blank"
        ><img
          src="../../../assets/logo-instagram.webp"
          class="instagram"
          alt="logo instagram"
      /></a>
      <a
        href="https://www.facebook.com/spaco7se?mibextid=ZbWKwL"
        target="_blank"
        ><img
          src="../../../assets/logo-facebook.png"
          class="facebook"
          alt="logo facebook"
      /></a>
    </div>
  </div>
  <div class="reserved-rights">
    <p>Todos os direitos reservados</p>
    <p>
      © 2023 -
      <a href="http://www.williamdiasmarcos.com/" target="_blank"
        >williamdiasmarcos
      </a>
    </p>
  </div>

  <div class="top-link"><a href="#home">Voltar ao topo</a></div>
</footer>
