<section class="container">
  <section class="main-logo">
    <div class="logo-container">
      <img
        class="img-logo"
        src="../../../assets/spaço7Logo.png"
        alt="Logo do Spaço7"
      />
    </div>

    <div class="wrap">
      <button class="button">Agende seu horário</button>
    </div>
  </section>
  <section class="description-container">
    <img class="img-home" src="../../../assets/imgHome.png" alt="Mulher" />
    <p class="description">
      Invista na sua saúde <br />
      e bem estar
    </p>
  </section>
</section>
