.container {
  height: 88vh;
}

.main-logo {
  height: 65%;

  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px 50px 0px;
}
.img-logo {
  width: 325px;
}
.logo-container p {
  color: #439494;
  font-weight: bold;
}

.description-container {
  height: 35%;

  display: flex;
  justify-content: center;
  background-image: linear-gradient(#fff, #439494);
}
.img-home {
  width: 370px;
  align-self: flex-end;
  opacity: 0.7;
  border-bottom: 1px solid #fff;
}

.description {
  align-self: flex-end;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

/* button animation style */
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  text-align: center;
  text-decoration: none;
  width: 200px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: rgb(20, 83, 83);
  background: #b6d9a9;
  border: none;
  border-radius: 100px;
  box-shadow: 12px 12px 24px rgba(20, 83, 83, 0.521);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 5px;
}

a::before {
  content: "";
  border-radius: 100px;
  min-width: calc(197px + 12px);
  min-height: calc(50px + 12px);
  border: 6px solid #b6d9a9;
  box-shadow: 0 0 40px #b6d9a9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: rgb(20, 83, 83);
  transform: translateY(-6px);
}

a:hover::before,
a:focus::before {
  opacity: 1;
}

a::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 6px solid #b6d9a9;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

a:hover::after,
a:focus::after {
  animation: none;
  display: none;
}

@media (min-width: 1400px) {
  .wrap {
    padding-top: 70px;
  }
  .button {
    width: 300px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    padding: 15px;
  }

  a::before {
    min-width: calc(300px + 8px);
  }
}

@media (max-width: 850px) {
  .logo-container {
    padding: 50px 0px 0px 0px;
  }
  .description {
    display: none;
  }
  .img-logo {
    width: 200px;
  }
  .img-home {
    width: 300px;
  }
  .wrap {
    padding-top: 50px;
  }
}

@media (max-width: 850px) {
  .img-home {
    width: 200px;
  }
}

@keyframes ring {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
