<section id="environment">
  <h2>CONHEÇA O NOSSO AMBIENTE</h2>
  <div class="carrossel">
    <div class="carrossel-container">
      <img
        src="../../../assets/work-space-img/recepção.jpg"
        alt="recepção do local"
        class="item"
      />
      <img
        src="../../../assets/work-space-img/sala2..jpg"
        alt="recepção do local"
        class="item"
      />

      <img
        src="../../../assets/work-space-img/sala3....jpg"
        alt="recepção do local"
        class="item"
      />
      <img
        src="../../../assets/work-space-img/sala 4.jpg"
        alt="recepção do local"
        class="item"
      />
      <img
        src="../../../assets/work-space-img/sala 1+.jpg"
        alt="recepção do local"
        class="item"
      />
      <img
        src="../../../assets/work-space-img/fachada.jpg"
        alt="recepção do local"
        class="item"
      />
    </div>
  </div>
</section>
