.container {
  width: 40vw;
  height: 680px;

  background-color: #439494;
  color: #fff;
  padding-bottom: 50px;
}

#services {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #fff;
  border-radius: 20px;
}

#services div {
  align-items: flex-end;
}
#services img {
  width: 265px;
  opacity: 0.7;
  border-bottom: 1px solid #fff;
}

h2 {
  text-align: center;
  padding: 30px;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: #026150;
}

.container-name-of-services {
  display: flex;
}
.container-name-of-services p {
  text-align: center;
}

.name-of-services {
  font-size: 25px;
  padding: 20px;
  animation-name: randomAnimation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.name-of-services:nth-child(1) {
  animation-delay: 1s;
}

.name-of-services:nth-child(2) {
  animation-delay: 2s;
}

.name-of-services:nth-child(3) {
  animation-delay: 3s;
}

.name-of-services:nth-child(4) {
  animation-delay: 4s;
}

@media (max-width: 1500px) {
  .container {
    width: 40vw;
  }
  #services img {
    padding-top: 15px;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 70vw;
    height: auto;
  }
}

@media (max-width: 800px) {
  .container {
    width: 96vw;
  }

  .name-of-services {
    font-size: 20px;
    padding: 25px;
  }
}

@keyframes randomAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(+5px);
  }
  100% {
    transform: translateY(0);
  }
}
