<section class="container">
  <div id="services">
    <h2>OFERECEMOS SEVIÇOS DE:</h2>
    <div class="container-name-of-services">
      <div>
        <p class="name-of-services">Embelezamento Facial</p>
        <p class="name-of-services">Epilação Corporal</p>
        <p class="name-of-services">Massoterapia</p>
      </div>
      <div>
        <p class="name-of-services">Naturopatia</p>
        <p class="name-of-services">Podologia</p>
        <p class="name-of-services">Terapia Capilar Integrativa</p>
      </div>
    </div>

    <img src="../../../assets/imgServices.png" alt="Mulher se cuidando" />
  </div>
</section>
